<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="Home button"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"></a>

    <div class="collapse navbar-collapse flex-grow-2 text-righ" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item active">
                <a class="nav-link" href="http://lostragos.com">Recetas
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ocasiones</a>
            </li>
                        <li class="nav-item">
                <a class="nav-link" href="#">Bebidas Espirituosas</a>
            </li>
                        <li class="nav-item">
                <a class="nav-link" href="#">Academia Barman</a>
            </li>
                                    <li class="nav-item">
                <a class="nav-link" href="#">Acceder</a>
            </li>
        </ul>
    </div>
</nav>
