<div class="cover">
  <div class="cover-logo"></div>
  <br>
  <h1 class="cover-text">DESCUBRE EL BARMAN QUE LLEVAS DENTRO</h1>
  <h4 class="cover-description">Prepara los mejores cócteles con nuestras recetas</H2>
  <div class="input-group">
    <input type="text" class="form-control input-sm" placeholder="Busca recetas de cócteles">
  </div>
</div>