<div class="cover">
<div class="cover-logo"></div>
<br>
<h1 class="cover-text">DESCUBRE EL BARMAN QUE LLEVAS DENTRO</h1>
<h3 class="cover-description">Prepara los mejores cócteles con nuestras recetas</H2>
</div>