body {
  height: 3000px;
}

.navbar {
  background: transparent !important;
  border-bottom:rgba(255,255,255,.5);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.navbar>.container-fluid {
  justify-content:space-between;
}


.navbar-toggler{
  border:none;
}

@media (max-width: 768px) {
  .navbar-brand {
    text-align: center;
    height: 27px;
    width: 190px;
    background-image: url("/images/logo-horizontal-navbar-sm.png");
  }
  #logo{
    width: 190px;
  }

  .cover{
    background-image: url("/images/cover-photo.jpg");
    height: 900px;
    background-repeat: no-repeat;
    background-size: 920px;
  }
}

@media (min-width: 769px) {
  .navbar-brand {
    height: 40px;
    width: 278px;
    background-image: url("/images/logo-horizontal-navbar.png");
  }
  #logo{
    width: 278px;
  }

  .cover{
    background-image: url("/images/cover-photo.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.scrolled {
  background: white !important;
  color: red !important;
}

.navbar-nav {
  color: purple;
}

.search {
  border: 75% 0 0 100%;
}
