body {
  height: 3000px;
}

a {
  color: #00B7FF;
}

.navbar{
  background: transparent !important;
  color: white !important;
  border-bottom: white;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  
}

#logo {
	vertical-align:middle;
}

.navbar-brand {
  height: auto;
  width: auto;
}

.scrolled{
  background: red !important;
  color: black !important;
}

.navbar-nav{
  margin: 0 6% 0 0;
  
}

.search{
  border: 75% 0 0 100%;
}

