body {
  height: 3000px;
  font-size: 1.3em;
  font-family: "Open Sans", sans-serif;
}

.nav-text {
  color: white;
}

.navbar {
  background: transparent !important;
  border-bottom: rgba(255, 255, 255, 0.5);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  transition: 500ms ease;
}

.scrolled {
  background: white !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar > .container-fluid {
  justify-content: space-between;
}

.navbar-toggler {
  border: none;
}

@media (max-width: 768px) {
  .navbar-brand {
    text-align: center;
    height: 27px;
    width: 190px;
    background-image: url("/images/logo-horizontal-navbar-sm.png");
  }
  #logo {
    width: 190px;
  }

  .cover {
    background-image: url("/images/cover-photo.jpg");
    height: 700px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cover-logo {
    background-image: url("/images/lostragos_logo_home.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 217px;
  }

  .cover-text {
    color: white;
    font-weight: bold;
    text-align: center;
  }

  .cover-description {
    color: white;
    text-align: center;
  }
}

@media (min-width: 769px) {
  .navbar-brand {
    height: 40px;
    width: 278px;
    background-image: url("/images/logo-horizontal-navbar.png");
  }
  #nav-logo {
    width: 278px;
  }

  .cover {
    background-image: url("/images/cover-photo.jpg");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cover-logo {
    background-image: url("/images/lostragos_logo_home.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 217px;
  }

  .cover-text {
    color: white;
    font-weight: bold;
    text-align: center;
  }

  .cover-description {
    color: white;
    text-align: center;
  }
}

.navbar-nav {
  color: purple;
}

.nav-item {
  margin: 0 10px 0 10px;
}

.custom-carets .dropdown-toggle:after{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f107";
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  vertical-align: 0;
  }

.custom-carets .dropdown-toggle:after> .span.caret{
  display: none;
}

.search {
  border: 75% 0 0 100%;
}
